<div class="event-details">
  <div class="header">
    <span>Event Details</span>
    <a href="#" class="edit">Edit</a>
  </div>
  <div class="d-flex">
    <div class="detail">
      <span class="label">Name:</span>
      <span class="value">Birthday Party</span>
    </div>
    <div class="detail">
      <span class="label">Event Location:</span>
      <span class="value">No 13, 4th floor, 16th Avenue, NJ, 12345</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="detail">
      <span class="label">No of Guests:</span>
      <span class="value">12</span>
    </div>
    <div class="detail">
      <span class="label">No of Rooms:</span>
      <span class="value">-</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="detail">
      <span class="label">Date:</span>
      <a href="#" class="value link">15th June 2024</a>
    </div>
    <div class="detail">
      <span class="label">Time:</span>
      <a href="#" class="value link">18:00 onwards</a>
    </div>
  </div>

  <div class="d-flex">
    <div class="detail">
      <span class="label">Name:</span>
      <span class="value">Srinivas P</span>
    </div>
    <div class="detail">
      <span class="label">Contact Number:</span>
      <span class="value">+1 234 345 2334</span>
    </div>
  </div>
  <div class="detail">
    <span class="label">Email Address:</span>
    <span class="value">srinivasgmail.com</span>
  </div>
</div>
