@font-face { 
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.otf") format("opentype"),
         url("/fonts/Geist-Black.otf") format("opentype"),
         url("/fonts/Geist-Bold.otf") format("opentype"),
         url("/fonts/Geist-Light.otf") format("opentype"),
         url("/fonts/Geist-Medium.otf") format("opentype"),
         url("/fonts/Geist-SemiBold.otf") format("opentype"),
         url("/fonts/Geist-Thin.otf") format("opentype"),
         url("/fonts/Geist-UltraBlack.otf") format("opentype"),
         url("/fonts/Geist-UltraLight.otf") format("opentype");
   }

.title{
font-family: 'Geist';
font-size: 16px;
font-weight: 500;
line-height: 15px;
text-align: left;
color: #3B3B3B;

}