<div class=" py-4">
  <div class="row">
    <div class="col-4">
      <p class="title">Event Details</p>
    </div>
    <div class="col-8" style="width: 616px">
      <div>
        <label htmlFor="username">Username</label>
        <br />
        <input
          pInputText
          id="username"
          placeholder="Loreum Ipsum"
          aria-describedby="username-help"
        />
        <br />
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <label htmlFor="username">Event Date</label>
          <br />
          <div class="position-relative">
            <p-calendar
              class="p-calender-custom"
              placeholder="DD/MMM/YYYY"
            ></p-calendar>
            <i class="pi pi-calendar calenderIcon"></i>
          </div>
        </div>

        <div>
          <label htmlFor="username">Event Time</label>
          <br />
          <input
            class="p-inputtext-lg"
            pInputText
            id="time"
            placeholder="00:00 PM"
            aria-describedby="username-help"
          />
        </div>
      </div>
      <div>
        <div class="mt-2">
          <label htmlFor="username">Event Address</label>
          <br />
          <input
            placeholder="Enter Address Line1"
            pInputText
            id="username"
            aria-describedby="username-help"
          />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-4">
      <p class="title">Additional Details</p>
    </div>
    <div class="col-8" style="width: 616px">
      <div>
        <label htmlFor="username">No of guests</label>
        <br />
        <input
          pInputText
          id="username"
          placeholder="Loreum Ipsum"
          aria-describedby="username-help"
        />
        <br />
      </div>
      <div class="mt-2">
        <label htmlFor="username">Room Requirement</label>
        <br />
        <input
          pInputText
          id="username"
          placeholder="Loreum Ipsum"
          aria-describedby="username-help"
        />
        <br />
      </div>
      <div class="mt-2">
        <div>
          <label htmlFor="username">Any other Requirements</label>
          <br />
          <input
            placeholder="Enter Address Line1"
            pInputText
            id="username"
            aria-describedby="username-help"
          />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-4">
      <p class="title">Contact Details</p>
    </div>
    <div class="col-8" style="width: 616px">
      <div class="d-flex justify-content-between">
        <div>
          <label htmlFor="username">First Name</label>
          <br />
          <div class="position-relative">
            <input
              class="p-inputtext-lg"
              pInputText
              id="Name"
              placeholder="Enter First Name"
              aria-describedby="username-help"
            />
          </div>
        </div>

        <div>
          <label htmlFor="username">Middle Name <span>(Optional)</span></label>
          <br />
          <input
            class="p-inputtext-lg"
            pInputText
            id="Name"
            placeholder="Enter Middle Name"
            aria-describedby="username-help"
          />
        </div>
        <div>
          <label htmlFor="username">Last Name</label>
          <br />
          <input
            class="p-inputtext-lg"
            pInputText
            id="Name"
            placeholder="Enter Last Name"
            aria-describedby="username-help"
          />
        </div>
      </div>
      <div>
        <div class="mt-2">
          <label htmlFor="username">Email Address</label>
          <br />
          <input
            placeholder="Enter email address"
            pInputText
            id="username"
            aria-describedby="username-help"
          />
          <br />
        </div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <label htmlFor="username">Phone Number  <span>(Personal)</span></label>
          <br />
          <div class="position-relative">
            <input
            class="p-inputtext-lg"
            pInputText
            id="time"
            placeholder="Enter Phone Number"
            aria-describedby="username-help"
          />
          </div>
        </div>

        <div>
          <label htmlFor="username">Phone Number <span>(Work)</span></label>
          <br />
          <input
            class="p-inputtext-lg"
            pInputText
            id="time"
            placeholder="Enter Phone Number"
            aria-describedby="username-help"
          />
        </div>
      </div>

    </div>
  </div>
</div>
