<div class="footer-container text-white py-4">
  <div class="container footer-wrapp-section">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="footer-section">
          <div class="footer-sectionTitle">
            <img src="/mail.png" />
            <h5>Share Event Details by Email</h5>
          </div>
          <div class="mt-2">
            <p>
              To create event by email, please complete this event form<br/>
              and email it to : events&#64;carolinafarmtrust.org
            </p>

          </div>
        </div>
      </div>
      <div class="col col d-flex justify-content-center">
        <div class="footer-section">
          <div class="footer-sectionTitle">
            <img src="/call.png" alt="" />
            <h5>Create Event by Phone</h5>
          </div>
          <div class="mt-2">
            <p>
              To create event by phone or to get assistance with your event
              creation, please contact us at 1-800-HELP NOW (1-800-435-7669).
            </p>
            <p>You can also reach us at:</p>
            <p>
              Español: 1-800-435-7669<br />
              TDD Operator: 1
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
